<!DOCTYPE html>
<html>
  <head>
    <title>DUMANYIE CHAMBERLAIN DATA VIDUALIZATION PROJECT (18CJ024115)</title>


    <link rel="stylesheet" href="style.css">

  </head>
  <body>
      <h1>FEMALE TO MALE BIRTH RATIO IN AFRICA FROM 2010-2019</h1>

    <div class="cell">
        
        <P class="main-text">
              The sex ratio for the entire world population is approximately 101 males to 100 females (2021 est.).[8]
            Human sex ratios, either at birth or in the population as a whole, can be reported in any of four ways: 
            the ratio of males to females, the ratio of females to males, the proportion of males, or the proportion of females. 
            If there are 108,000 males and 100,000 females the ratio of males to females is 1.080 and the proportion of males is 51.9%.
            Scientific literature often uses the proportion of males. 
            This article uses the ratio of males to females, unless specified otherwise. Wikipedia
        </P>
        <p class="main-text">
           
        THE BAR PLOTS DISPLAYS THE COMBINED STATISTICS OF THE FEMALE TO MALE BIRTH RATIO FROM 2010 TO 2019
         </p>
<br/><br/>
        <img src="../static/2010.png" width="70%">
<br/><br/>
        <img src="../static/2013.png" width="70%">
<br/><br/>
        <img src="../static/2016.png" width="70%">
<br/><br/>
     </div>


     
 <div  class="cell">
        <p class="main-text">
            The line graphs show below the different measures of dispersion(as indicated by the legend),
            for the observation values in the bar plots above the first plot being the Mean,followed by the Standard 
            Deviation, Variance,Median, Range
         </p>
<br/><br/>
       <img src="../static/mean.png" width="40%">
<br/><br/>
       <img src="../static/median.png" width="40%">
<br/><br/>
       <img src="../static/variance.png" width="40%">
<br/><br/>
       <img src="../static/standardD.png" width="40%">
<br/><br/>
       <img src="../static/interq.png" width="40%">
<br/><br/>
        <img src="../static/semiInt.png" width="40%">
<br/><br/>
      </div>
      
  </body>
</html>
